site_name: Coincruze
site_url: https://docs.coincruze.com
theme:
  name: material
  palette:
    scheme: default
    primary: white
    accent: teal
  logo: assets/images/logo_horizontal.png
  favicon: assets/images/favicon.ico
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
extra_css:
  - stylesheets/extra.css
nav:
  - Quickstart: index.md
  - What is Coincruze?: about.md
  - Setup: setup.md
  - Dashboard: dashboard.md
  - Bot Creation: create_bot.md
  - Bot Management: manage_bot.md
  - Trade Management: manage_trades.md
  
