site_name: Coincruze
site_url: https://docs.coincruze.com
theme:
  name: material
  palette:
    scheme: default
    primary: white
    accent: teal
  logo: assets/images/logo_horizontal.png
  favicon: assets/images/favicon.ico
plugins:
  - privacy
  - search
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
extra_javascript:
  - javascripts/mathjax.js
  - javascripts/tex-mml-chtml.js
extra_css:
  - stylesheets/extra.css
nav:
  - Quickstart: index.md
  - What is Coincruze?: about.md
  - Setup: setup.md
  - Dashboard: dashboard.md
  - Bot Creation: create_bot.md
  - Bot Management: manage_bot.md
  - Trade Management: manage_trades.md
  - FAQ: faq.md
